{% extends 'base.html.twig' %}
{% block title %}{{ pageTitle }}{% endblock %}
{% block body %}



    <main class="container">
        {% for newsitem in news|slice(0, 1) %}
        <div class="p-4 p-md-5 mb-4 rounded text-bg-dark news-home-top" style="background-image: url('{{ asset('uploads/images/') }}{{ newsitem.image }}');">
            <div class="col-md-6 px-0">
                <h1 class="display-4 fst-italic">{{ newsitem.title }}</h1>
                <p class="lead my-3">
                    {% if newsitem.description|length > 75 %}
                        {{ newsitem.description|slice(0, 75)|raw }}...
                    {% else %}
                        newsitem.description|raw
                    {% endif %}
                </p>
                <p class="lead mb-0"><a href="{{ path('app_home_newsdetail',{'slug':newsitem.slug}) }}" class="text-white fw-bold">Continuar lendo...</a></p>
            </div>
        </div>
        {% endfor %}


        <div class="row mb-2">
            {% for newsitem in news|slice(1, 2) %}
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <a href="{{ path('app_category_list',{'slug':newsitem.category.title}) }}"><strong class="d-inline-block mb-2 text-primary">{{ newsitem.category.title  }}</strong></a>
                        <h3 class="mb-0">{{ newsitem.title }}</h3>
                        <div class="mb-1 text-muted">
                            {% set m = newsitem.createdAt|date('F') %}
                            {{ m|trans }} {{ newsitem.createdAt|date('d') }}
                        </div>
                        <p class="card-text mb-auto">
                            {% if newsitem.description|length > 75 %}
                                {{ newsitem.description|slice(0, 75)|raw }}...
                            {% else %}
                                newsitem.description|raw
                            {% endif %}
                        </p>
                        <a href="{{ path('app_home_newsdetail',{'slug':newsitem.slug}) }}" >Continuar Lendo</a>
                    </div>
                    <div class="col-auto d-none d-lg-block" style="background-image: url('{{ asset('uploads/images/') }}{{ newsitem.image }}');">

                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                             role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                             focusable="false"><title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#000" fill-opacity="0.3"></rect>
                        </svg>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="row g-5">
            <div class="col-md-8">
                <h3 class="pb-4 mb-4 fst-italic border-bottom">
                    Saindo do forno
                </h3>

                {% for newsitem in news|slice(3, 3) %}
                <article class="blog-post">
                    <h2 class="blog-post-title mb-1">{{ newsitem.title }}</h2>
                    <p class="blog-post-meta">
                        {{ newsitem.createdAt|date('d') }} de
                        {% set m = newsitem.createdAt|date('F') %}
                        {{ m|trans }} de {{ newsitem.createdAt|date('Y') }}

                    </p>
                    <p>
                        {{ newsitem.createdAt|ago() }}
                    </p>
                    <p>
                        {{ newsitem.content }}
                    </p>
                </article>
                {% endfor %}


            </div>

            <div class="col-md-4">
                <div class="position-sticky" style="top: 2rem;">
                    <div class="p-4 mb-3 bg-light rounded">
                        <h4 class="fst-italic">Sobre</h4>
                        <p class="mb-0">Mantenha-se informado com as atualidades do mundo, com cobertura imparcial e análise dos fatos.</p>
                    </div>
                    <div class="p-4">
                        <h4 class="fst-italic">Arquivos</h4>
                        <ol class="list-unstyled mb-0">
                        {% for i in 0..11 %}
                            <li>
                                {% set tempDate = "now"|date_modify('-'~i~ ' month')%}
                                <a href="{{ path('app_news_date',{'ano':tempDate|date('Y'), 'mes':tempDate|date('m')}) }}">
                                {{ tempDate|format_datetime(locale='pt', pattern='MMMM Y')|capitalize }}
                                </a>
                            </li>
                        {% endfor %}
                        </ol>
                    </div>

                    <div class="p-4">
                        <h4 class="fst-italic">Saiba Mais</h4>
                        <ol class="list-unstyled">
                            <li><a href="https://github.com/JonasPoli" target="_blank">GitHub</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Facebook</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

    </main>






{% endblock %}