{% extends 'base.html.twig' %}
{% block title %}{{ pageTitle }}{% endblock %}
{% block body %}



    <main class="container">
        {% for news in latestNews|slice(0, 1) %}
        <div class="p-4 p-md-5 mb-4 rounded text-bg-dark news-home-top" style="background-image: url('{{ asset('uploads/images/') }}{{ news.image }}');">
            <div class="col-md-6 px-0">
                <h1 class="display-4 fst-italic">{{ news.title }} </h1>
                <p class="lead my-3">{{ news.description }}</p>
                <p class="lead mb-0"><a href="{{ path('app_home_newsdetail',{'slug':news.slug}) }}" class="text-white fw-bold">Continue lendo...</a></p>
            </div>
        </div>
        {% endfor %}

        <div class="row mb-2">

            {% for news in latestNews|slice(1, 2) %}
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">{{ news.category.title }}</strong>
                        <h3 class="mb-0">{{ news.title }}</h3>
                        <div class="mb-1 text-muted">{{ news.createdAt|ago(locale='pt') }}</div>
                        <p class="card-text mb-auto">{{ news.description|length > 75 ? news.description|slice(0, 75) ~ '...' : news.description  }}</p>

                        <a href="{{ path('app_home_newsdetail',{'slug':news.slug}) }}" class="stretched-link">Continuar lendo</a>
                    </div>
                    <div class="col-auto d-none d-lg-block  news-home-top"  style="background-image: url('{{ asset('uploads/images/') }}{{ news.image }}');">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                             role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                             focusable="false"><title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#000" fill-opacity="0.3"></rect>
                        </svg>

                    </div>
                </div>
            </div>
            {% endfor %}


        </div>

        <div class="row g-5">
            <div class="col-md-8">
                <h3 class="pb-4 mb-4 fst-italic border-bottom">
                   Saindo do forno
                </h3>

                {% for news in latestNews|slice(3, 3) %}
                <article class="blog-post">
                    <h2 class="blog-post-title mb-1">{{ news.title }}</h2>
                    <p class="blog-post-meta">{{ news.createdAt|date('d/m/Y h:i') }}</p>
                    <p>
                        <time>{{ news.createdAt|ago(locale='pt') }}</time>.
                    </p>
                    <p>
                        {{ news.content }}
                    </p>
                </article>
                {% endfor %}
            </div>

            <div class="col-md-4">
                <div class="position-sticky" style="top: 2rem;">
                    <div class="p-4 mb-3 bg-light rounded">
                        <h4 class="fst-italic">Sobre</h4>
                        <p class="mb-0">Mantenha-se atualizado sobre o mundo, com cobertura imparcial e análises aprofundadas sobre as principais notícias do momento.</p>
                    </div>

                    <div class="p-4">

                        <h4 class="fst-italic">Archives</h4>
                        <ol class="list-unstyled mb-0">
                            {% for i in 1..10 %}
                                {% set month = "now"|date_modify("-"~i~" month")|format_datetime('long', 'long',locale='pt',pattern="M")  %}
                                {% set year = "now"|date_modify("-"~i~" month")|format_datetime('long', 'long',locale='pt',pattern="Y")  %}
                            <li><a href="{{ path('app_news_date',{'mes':month,'ano':year }) }}">
                                    {{ "now"|date_modify("-"~i~" month")|format_datetime('long', 'long',locale='pt',pattern="MMMM Y") }}
                                </a></li>
                            {% endfor %}
                        </ol>
                    </div>

                    <div class="p-4">
                        <h4 class="fst-italic">Saiba Mais</h4>
                        <ol class="list-unstyled">
                            <li><a href="https://github.com/JonasPoli">GitHub</a></li>
                            <li><a href="https://www.facebook.com/jonas.poli.50">Facebook</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

    </main>






{% endblock %}