{% extends 'base.html.twig' %}
{% block title %}Detalhe da Notícia{% endblock %}
{% block body %}

    <div class="container">
        <h1>{{ news.title }}</h1>
        <h3>{{ news.description }}</h3>
        <img src="{{ news.image }}" class="float-start me-4 mb-4">
        <h6> <a href="{{ path('app_category_list',{'slug':news.category.title}) }}">{{ news.category.title }}</a> - {{ news.createAt|date('d/m/Y h:i') }} - {{ news.createAt|ago(locale='pt') }}</h6>
        {{ news.content|raw }}
    </div>
{% endblock %}