{% extends 'base.html.twig' %}
{% block title %}Pesquisa{% endblock %}
{% block body %}


    <div class="container">
        <h1>Pequisando por {{ search }}...</h1>
        <!--Section: News of the day-->


        <turbo-frame id="browse-list-{{ pager.currentPage }}">
        {% for newsItem in pager %}
            <hr>
            <div class="row gx-5">
                <div class="col-md-4 mb-4">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                        <img src="{{ newsItem.image }}" class="img-fluid"/>
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                </div>

                <div class="col-md-8 mb-4">
                    <a href="{{ path('app_category_list',{'slug':newsItem.category.title}) }}" class="badge bg-danger px-2 py-1 shadow-1-strong mb-3 text-white">{{ newsItem.category.title }}</a>
                    <div>{{ newsItem.createAt|date('d/m/Y H:i') }} - {{ newsItem.createAt|ago()}}</div>
                    <h4><strong>{{ newsItem.title }}</strong></h4>
                    <p class="text-muted">
                        {{ newsItem.description }}
                    </p>
                    <a href="{{ path('app_news_detail',{'slug':newsItem.slug}) }}" type="button" class="btn btn-primary">Leia mais</a>
                </div>
            </div>
        {% else %}
            <h3 class="mb-5">Não encontramos nenhuma notícia que atenda aos requisitos.</h3>
        {% endfor %}
            {% if pager.hasNextPage %}
                <turbo-frame id="browse-list-{{ pager.nextPage }}" src="{{ pagerfanta_page_url(pager, pager.nextPage) }}" loading="lazy"></turbo-frame>
            {% endif %}
        </turbo-frame>

        <!--Section: News of the day-->
    </div>

{% endblock %}