{% extends 'base.html.twig' %}

{% block title %}Hello AuthController!{% endblock %}

{% block body %}
    <main class="form-signin w-100 m-auto text-center">
        {% if error %}
            <div class="alert alert-warning" role="alert">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
        <form action="{{ path('app_sign_in') }}" method="post">
            <h1 class="h3 mb-3 fw-normal">Faça login</h1>

            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" id="username" name="_username" value="{{ last_username }}" >
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" id="password" name="_password">
                <label for="floatingPassword">Password</label>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
            <div class="row mt-3">
                <div class="col-6"><a href="{{ path('app_register') }}">Criar uma conta</a></div>
                <div class="col-6">Esqueci a senha</div>
            </div>
            <p class="mt-5 mb-3 text-muted">© 2017–2022</p>

        </form>
    </main>
{% endblock %}
